.acting {
  display: flex;
  height: 100%;
  flex: 1;
  padding: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.acting__header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.acting__header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 12px;
}

.acting__prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 100%;
  margin-top: 16px;
}

.acting__prompt-text {
  font-weight: 900;
  font-size: 27px;
  line-height: 32px;
  margin: 12px;
  margin-bottom: 14px;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.acting__timer {
  cursor: pointer;
  padding-right: 12px;
}
