.guessing {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 32px;
}

.guessing__action-text {
  margin-top: 32px;
}

.guessing__timer {
  display: flex;
  flex: 1;
}
