.pointed-at {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  border-radius: 4px;
  flex-direction: column;
}

.pointed-at__text h1 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

.pointed-at__icon {
  margin-top: 16px;
  transform: rotate(90deg);
  font-size: 70px;
  line-height: 80px;
  font-weight: normal;
}
