.score {
  padding: 0 6px 0 12px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.score * {
  color: var(--color__background);
}

.score__label {
  display: inline-block;
  width: 100%;
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score__number {
  font-size: 2.8125em;
  line-height: 38px;
}

