.youre-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 254px;
  width: 100%;
  border-radius: 2px;
  color: var(--color__foreground);
  background: var(--color__background);
  padding: 32px 32px 40px;
  margin-top: 4px;
}

.youre-up__title {
  font-size: 21px;
}

.youre-up__text {
  width: 230px;
}
